li, ul {
  list-style-type: none;
  padding: 0;
  margin: 0
}

.container {
  max-width: 980px;
  margin: 0 auto
}

//--------------------------------------------------

.clients-wrapper ul {
  border-top: 1px solid #e7e7e7;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  padding: 22px 0;

  h4 {
    font-weight: 400;
  }
  img {
    cursor: pointer;
    filter: grayscale(80%);
    &:hover {
      filter: none;
    }
  }
}

//-------------------------------------------------


.footer {
  width: 100%;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-top: 1px solid #dcdcdc;
  .f-container {
    background: #f8f8f8;
    margin: 0 auto;
    padding: 0;
  }
  .footer-content-wrapper {
    padding: 21px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    .footer-part1 {
      width: 47%;
      h1 {
        color: #aaa;
        font-size: 15px;
        margin: 0;
        margin-bottom: 17px;
        font-weight: 500;
        text-align: left;
      }
      .footer-part1-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 80%;
        .footer-content {
          a {
            text-decoration: none;
            color: #cbcbcb;
            font-size: 12px;
          }
        }
      }
    }
    .footer-part2 {
      width: 20%;
    }
    .footer-part3 {
      width: 19%;
      .icons-list {
        display: flex;
        margin-bottom: 17px;
        li {
          margin-right: 5px;
        }
        .icon {

          background: url('../img/social.png');
          background-repeat: no-repeat;
          width: 24px;
          height: 24px;
          display: inline-block;
        }
        .first-icon {
          background-position: -5px -73px;

          &:hover {
            background-position: -39px -73px;
          }
        }
        .second-icon {
          background-position: -5px -5px;

          &:hover {
            background-position: -39px -5px;
          }
        }
        .third-icon {
          background-position: -5px -39px;

          &:hover {
            background-position: -39px -39px;
          }
        }
        .fourth-icon {
          background-position: -73px -5px;

          &:hover {
            background-position: -73px -39px;
          }
        }
      }
    }
    .footer-content {
      display: flex;
      flex-direction: column;
      h1 {
        color: #aaa;
        font-size: 15px;
        margin: 0;
        margin-bottom: 20px;
        font-weight: 500;
      }
      a {
        text-decoration: none;
        color: #cbcbcb;
        font-size: 12px;

      }
    }
  }
}
