//-------------------------top nav-------------------------

.nav {
  margin-right: 23px;
  width: 50%;
  position: relative;
  .nav-list {
    display: flex;
    justify-content: space-between;
  }
  .nav-content {
    cursor: pointer;
    a {
      text-decoration: none;
      color: #3c3c3c;
      font-size: 13px;
      &:hover {
        color: #ae3b44;
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      top: 24px;
      right: 151px;
      background-color: #212121;
      width: 145px;
      font-size: 12px;
      z-index: 1;

      a {
        color: #dbdedf;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        &:hover {
          color: #fff;
          font-weight: 600;
        }
      }
      i.fa-caret-up {
        color: #212121;
        position: absolute;
        bottom: 95%;
        left: 50%;
      }
      i.caret-visible {
        color: #212121;
        position: absolute;
        right: 0;
        left: 99%;
      }


    }
  }
  .layouts:hover .dropdown-content {
    display: block;
  }


}
.dropdown-content-second {
  display: none;
  position: absolute;
  top: 0;
  left: 149px;
  background-color: #212121;
  width: 145px;
  font-size: 12px;
  z-index: 1;
  i.caret-transparent {
    color: #fff;
    position: absolute;
    left: -1%;
  }
}
.dropdown-content:hover .dropdown-content-second {
  display: block;
}
a {
  display: inline-block
}

a, a:hover {
  text-decoration: none
}
//------------------- side nav --------------------

.acordion-btns{
  display: none;
}
.acordion-btns:checked ~ .submenu-accordion{
  display: block;
}
.acordion-btns:checked + label>a{
  &:before{
    transform: rotate(90deg) translate(-80%,-50%);
  }
}
a.acordion-btns-main{
  position: relative;
  cursor: pointer;
  font-size: 12px;
  &:before{
    position: absolute;
    top: 50%;
    right: 26px;
    transform: translate(0,-50%);
  }
}
.nav-sidebar{
  width: 25%;
  min-width: 243px;
  height: 100%;
  font-size: 12px;
  // padding-top: 40px;
  // background-color: red;
  li {
    outline: none;
    a {
      outline: none;
      text-decoration: none;
    }
  }
  h2{
    font-size: 18px;
    color: #212121;
    line-height: 40px;
    text-indent: 10px;
    background: linear-gradient(-45deg,rgba(0, 0, 0, 0) 48%,rgba(0, 0, 0, 0.12) 50%,rgba(0, 0, 0, 0) 52%);
    background-size: 15px 15px;
    background-color: #fff;
  }
  ul{
    // width: 400px;
    padding-left: 0;
    list-style-type: none;
    li.active{
      background: #ae3b44;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        bottom: 50%;
        left: 100%;
        transform: translate(0%, 50%);
        z-index: 9;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-left: 5px solid #ae3b44;
        transition: .3s linear;
      }
      a{
        color: #fff;
        &:hover{
          color: #fff;
        }
      }
    }
    li{
      line-height: 39px;
      border-bottom: 1px solid #ccc;
      a{
        text-indent: 7px;
        width: 100%;
        color: #212121;
        text-transform: capitalize;
        transition: .3s linear;
        &:before{
          display: inline-block;
        }
        &:hover{
          color: #ae3b44;

        }
      }
      .submenu-accordion{
        width: 100%;
        display: none;
        background: #f4f7f8;
        li{
          text-indent: 25px;
          border-bottom: 1px solid #ccc;
          a{
            text-indent: 10px;
            &:before{
              margin-right: 12px;
              display: inline-block;
            }
          }
        }
        li:first-child{
          border-top: 1px solid #ccc;
        }
        li:last-child{
          border-bottom: none;
        }
      }
      .under-submenu-accordion{
        background: #eaeaea;
        li{
          text-indent: 20px;
        }
      }
    }
  }
}

