
$article-text-title-color : #3d3d3d;
$article-text-subtitle-color : #ae3b44;
$article-text-overwie-color : #909293;
$article-text-color : #3c3c3c;
$article-nav-color : #ae3b44;

$text-top-nav-slider-color : #212121;

$top-nav-bg-color : #212121;
$top-nav-banner-bg-color : #ae3b44;
$top-nav-text-color : #3c3c3c;
$top-nav-text-selected-color : #ae3b44;
$top-nav-dropdown-text-color : #9ca0a2;
$top-nav-dropdown-text-selected-color : #ffffff;
$top-nav-banner-header-color : #ffffff;

$aside-nav-dropdown-bg-first-color: #f4f7f8;
$aside-nav-dropdown-bg-second-color: #eaeaea;

$footer-nav-text-color: rgba(57, 57, 57, 0.5);
